<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">Gofannon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ '/docs' | relative_url }}">Docs</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/how-tos' | relative_url }}">How-Tos</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/about' | relative_url }}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/community' | relative_url }}">Community</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        The AI Alliance
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://thealliance.ai" target="_blank">Website</a></li>
                        <li><a class="dropdown-item" href="https://the-ai-alliance.github.io/" target="_blank">Github Organization</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>