<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">Gofannon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Developers
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ '/developers' | relative_url }}" target="_blank">General</a></li>
                        <li><a class="dropdown-item" href="{{ '/docs' | relative_url }}" target="_blank">Docs</a></li>
                        <li><a class="dropdown-item" href="{{ '/docs/quickstart.html' | relative_url }}" target="_blank">Quickstart</a></li>
                        <li><a class="dropdown-item" href="{{ '/developers/first_contribution.html' | relative_url }}" target="_blank">First Contribution</a></li>
                        <li><a class="dropdown-item" href="{{ '/developers/contribute_tool.html' | relative_url }}" target="_blank">Contribute Tool</a></li>
                        <li><a class="dropdown-item" href="{{ '/developers/contribute_agentic_framework.html' | relative_url }}" target="_blank">Contribute Framework Integration</a></li>
                        <li><a class="dropdown-item" href="{{ '/developers/governance.html' | relative_url }}" target="_blank">Governance</a></li>
                        <li><a class="dropdown-item" href="{{ '/leaderboard.html' | relative_url }}" target="_blank">Leaderboard</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Community
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ '/about' | relative_url }}" target="_blank">About Us</a></li>
                        <li><a class="dropdown-item" href="{{ '/community' | relative_url }}" target="_blank">General</a></li>
                        <li><a class="dropdown-item" href="{{ '/community/health_graph.html' | relative_url }}" target="_blank">Health Graph</a></li>
                        <li><a class="dropdown-item" href="{{ '/community/contact.html' | relative_url }}" target="_blank">Join Us</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        The AI Alliance
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://thealliance.ai" target="_blank">Website</a></li>
                        <li><a class="dropdown-item" href="https://the-ai-alliance.github.io/" target="_blank">Github Organization</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>